.mainContent {
    height: 300vh;
}

.content {
    
  
}

.textWrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
}
.textWrapper h3 {
    padding: 30px;
}

.tweetContent{
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;

}

.tweetContent img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.iconWrapper {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconWrapper__left  ul {
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 

}


.tweetContent > input {
    width: 100%;
    padding-left: 5px;
    margin-left: 25px;
}

.mainLogo > h2{
    padding-top: 10px;
}

.tweet img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    background-color: white;
    border-radius: 100%;
}

  .tweet {
    display: flex;
    gap: 30px;
}
   
.tweet__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .iconList{
    margin-top: 30px;
    background-color:rgba(239, 243, 244);
    padding: 40px;
    border-radius: 20px;

  }

.sidebar {


}