  @import "./reset.css";
  @import "./variables.css";
  @import "./layout.css";
  @import "./header.css";
  @import "./content.css";
  @import "./siderbar.css";               

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
    font-size:  16px;
    background-color: var(--color-black);
    color: var(--color-text);
}